AddType application/json .json
RewriteEngine On    # Turn on the rewriting engine

RewriteCond %{QUERY_STRING}    spf=navigate 
RewriteRule   ^$    index.json?  [NC,L]

RewriteCond %{QUERY_STRING}    spf=navigate 
RewriteRule   ^(.+)$  $1.json?     [NC,L]  #rewrite URLs

RewriteRule    ^mentor/?$    mentor.html    [NC,L]    # rewrite URLs
RewriteRule    ^join/?$    join.html    [NC,L]    # rewrite URLs
RewriteRule    ^sponsor/?$    sponsor.html    [NC,L]    # rewrite URLs
RewriteRule    ^robots/?$    robots.html    [NC,L]    # rewrite URLs
