AddType application/json .json
RewriteEngine On    # Turn on the rewriting engine
RewriteRule    ($\?spf=navigate)?$   index.json   [NC,L]  #rewrite URLs
RewriteRule    (\?spf=navigate)?$    $1.json    [NC,L]
RewriteRule    ^mentor/?$    mentor.html    [NC,L]    # rewrite URLs
RewriteRule    ^join/?$    join.html    [NC,L]    # rewrite URLs
RewriteRule    ^sponsor/?$    sponsor.html    [NC,L]    # rewrite URLs
RewriteRule    ^robots/?$    robots.html    [NC,L]    # rewrite URLs
