.footer-widget {
        float: none;
        display: inline-block;
        vertical-align: top;
        width: 100%;
    }
    .footer-widget img{
      /*width:75px;*/
        padding-top:25px;
        padding-left:10px;
        padding-right:10px;
    }
body.custom-background {
  background-image: url('../img/background-20160504-a.jpg');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  }

.header-content-wrap {
  padding-top: 210px !important;
}

.latestnews-img img.profile-pic {
	border-radius: 50%;
	width: 174px;
	height: 174px;
	margin: auto;
	overflow: hidden;
	margin-bottom: 25px;
}

.tab-content{
  text-align:left;
}
.tab-pane{
  padding-top:1em;
}
